/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-family: "宋体";
	font-size: 12;
}

mx|ToolTip
{
	font-size: 12;
}